<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE SCHEDULE</title>
    <link rel="stylesheet" href="/css/style.css">
    <!DOCTYPE html>
<html lang="en">
<body>
    <div class="topnav">
    </div>
    <!-- thanh dieu huong nav -->
    <div class="botnav">
        <a  href="/">Home</a>
        <a  href="/create" class="active">Create User</a>
    </div>
    <div class="container">
        <video autoplay muted loop class="bg-video">
            <source src="/images/videoss.mp4" type="video/mp4">
        </video>
        <div class="content">
           <h1>Chào mừng bạn đến với Chương trình Tạo lịch học Thông minh</h1>
            <p>Người sáng tạo: <span class="highlight">HUỲNH NGUYỄN SƠN - 2100254</span></p>
            <!-- Thêm các đoạn văn bản khác tại đây -->
        </div>
    </div>
    <form action="/generate-schedule" method="POST">
        <button type="submit" class="GENERATE">GENERATE</button>
    </form>
</body>
</html>

