<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE SCHEDULE</title>
    <link rel="stylesheet" href="/css/style.css">
    <!DOCTYPE html>
<html lang="en">
<body>
    <div class="topnav">
    </div>
    <!-- thanh dieu huong nav -->
    <div class="botnav">
        <a  href="/">Home</a>
        <a  href="/create" class="active">Create User</a>
    </div>
    </div>
</body>
</html>

